@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<section class="site-header-user d-flex flex-column">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div>
                    <img src="~/Content/images/undraw_Remote_design_team_re_urdx.png">
                </div>
                <div class="col-lg-12 col-12">
                    <a href="/user/profile" class="login-button">View Profile</a>
                    <a href="/user/changeprofile" class="login-button">Edit Profile</a>
                    <a href="/user/logout" class="logout-button">Log Out</a>
                </div>
            </div>
            <div class="col-lg-8 col-12">
                <h2 class="text-white title-form">Change Password</h2>

                @using (Html.BeginForm(FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="row custom-form ms-auto">
                        <div class="">
                            <div class="notice">@Html.ValidationMessage("currpassword")</div>
                            <div class="form-floating">
                                <input type="password" name="currpassword" id="currpassword" class="form-control" placeholder="Current Password" required="" value="@Request.Form["currpassword"]">
                                <label for="currpassword">Enter current password</label>
                            </div>
                            <div class="notice">@Html.ValidationMessage("newpassword")</div>
                            <div class="form-floating">
                                <input type="password" name="newpassword" id="newpassword" class="form-control" placeholder="New Password" required="" value="@Request.Form["newpassword"]">
                                <label for="newpassword">Enter new password</label>
                            </div>
                            <div class="notice">@Html.ValidationMessage("renewpassword")</div>
                            <div class="form-floating">
                                <input type="password" name="renewpassword" id="renewpassword" class="form-control" placeholder="Re-enter New Password" required="" value="@Request.Form["renewpassword"]">
                                <label for="renewpassword">Re-enter new password</label>
                            </div>
                            <div class="col-lg-6 col-6 ms-auto">
                                <button type="submit" class="form-control">CONFIRM</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@*Hiển thị hộp thoại khi đổi profile thành công*@
@if (TempData["Success"] != null)
{
    Html.RenderAction("getModel", "Layout", new { content = TempData["Success"].ToString() });
}