
@{
    ViewBag.Title = "UserInfo";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@model DDEdu.Models.user



<section class="site-header-user d-flex flex-column">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div>
                    @*Phần này chưa được đổi hình ảnh*@
                    <img src="~/Content/images/undraw_Remote_design_team_re_urdx.png">
                </div>
                <div class="col-lg-12 col-12">
                    <a href="/user/changepassword" class="login-button">Change Password</a>
                    <a href="/user/changeprofile" class="login-button">Edit Profile</a>
                    <a href="/user/logout" class="logout-button">Log Out</a>
                </div>
            </div>

            <div class="col-lg-8 col-12">
                <h2 class="title-form">User Information</h2>
                <div class="title-form"><b>Username: </b>@Model.username</div>
                <div class="title-form"><b>Fullname: </b>@Model.fullname</div>
                <div class="title-form"><b>Email: </b>@Model.email</div>
                <div class="title-form"><b>Date of Birth: </b>@Model.birth.Value.ToString("dd/MM/yyyy")</div>
                <div class="title-form"><b>Account created: </b>@Model.dateBegin.Value.ToString("dd/MM/yyyy")</div>
                <div class="title-form"><b>Registered courses: </b> <a href="/my-courses" class="forgot">View Detail</a></div>
                <ul class="title-form">
                    @Html.Action("getIdInProfile", "MyCourses", new {id = Model.id})
                </ul>
            </div>
        </div>
    </div>
</section>

@*Hiển thị hộp thoại khi đổi profile thành công*@
@if (TempData["Success"] != null)
{
    Html.RenderAction("getModel", "Layout", new { content = TempData["Success"].ToString() });
}