@model DDEdu.Models.course
@using DDEdu.Helper
@{
    ViewBag.Title = "Create Courses";
    Layout = "~/Areas/admin/Views/Shared/_MyLayout.cshtml";
}

<div class="row ms-auto">
    <div class="col-lg-12">
        <!-- Increased the width to center the panel better -->
        <div class="panel panel-yellow ms-auto">
            <!-- Center align the panel -->
            <div class="panel-heading">
                Create New Course
            </div>
            <div class="panel-body align-contenr-center">
                <form action="/admin/courses/Create" enctype="multipart/form-data" id="editMenuForm" method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-2" for="Order">Upload Image</label>
                            <div class="col-md-4">
                                <input type="file" name="img" id="img" accept=".jpg,.png,.gif,.jpeg,.bmp" />
                            </div>
                        </div>
                        <div class="form-group ms-auto">
                            <label class="control-label col-md-2" for="name">Name</label>
                            <div class="col-md-8">
                                <input class="form-control text-box single-line" id="name" name="name" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="name" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group ms-auto">
                            <label class="control-label col-md-2" for="Description">Description</label>
                            <div class="col-md-8">
                                <input class="form-control text-box single-line" id="desc" name="desc" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="name" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-md-2">
                                <b>Detail</b>
                            </div>
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.detail, new { @class = "form-control", @rows = 1 })
                                @Html.ValidationMessageFor(model => model.detail, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <!-- Max student -->
                        <div class="form-group">
                            <label class="control-label col-md-2" for="startOn">Max student</label>
                            <div class="col-md-8">
                                <input class="form-control text-box single-line" id="maxStudent" name="maxStudent" type="number" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="startOn" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <!-- Tuition -->
                        <div class="form-group">
                            <label class="control-label col-md-2" for="startOn">Tuition</label>
                            <div class="col-md-8">
                                <input class="form-control text-box single-line" id="tuition" name="tuition" type="number" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="startOn" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <!-- Start Date -->
                        <div class="form-group">
                            <label class="control-label col-md-2" for="startOn">Start Date</label>
                            <div class="col-md-3">
                                <input class="form-control text-box single-line" id="startOn" name="startOn" type="date" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="startOn" data-valmsg-replace="true"></span>
                            </div>
                            <label class="control-label col-md-1" for="endDate">End Date</label>
                            <div class="col-md-3">
                                <input class="form-control text-box single-line" id="endDate" name="endDate" type="date" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="endDate" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <!-- End Date -->
                        <div class="form-group">
                            
                        </div>
                        <div class="form-group">
                            <div class="control-label col-md-2">
                                <b>Certificate</b>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control" id="idCategory" name="idCategory" required>
                                    <option value="">Choose certificate</option>
                                    @foreach (var type in ViewBag.certList)
                                    {
                                        <option value="@type.id">@type.name</option>
                                    }
                                </select>
                                @Html.ValidationMessage("certificated", "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" for="Display">Display</label>
                            <div class="col-md-8">
                                <input checked="checked" class="big-checkbox" data-val="true" data-val-required="The Boolean field is required." id="hide" name="hide" type="checkbox" value="true" />
                                <input name="hide" type="hidden" value="false" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="hide" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group text-end">
                            <div class="col-md-10" style="text-align:end">
                                @Html.NoEncodeActionLink("<span>BACK</span>", "BACK", "Index", "courses", routeValues: new { }, htmlAttributes: new { data_modal = "", @class = "btn btn-default" })
                                <input type="submit" value="SAVE" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section _Footer
{
    <script src="~/Areas/admin/Content/ckfinder/ckfinder.js"></script>
    <script src="~/Areas/admin/Content/ckeditor/ckeditor.js"></script>

    <script type="text/javascript">
        var editor = CKEDITOR.replace("detail");
        var editor = CKEDITOR.replace("detail", { height: '600px' });
        customConfig: '/Areas/admin/Content/ckeditor/config.js';
    </script>
    <script>
        $(function () {
            $("#name").keyup(function () {
                var text = $.trim($(this).val().toLowerCase());
                var text_create;
                text_create = text.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a").replace(/\ /g, '-').replace(/đ/g, "d").replace(/đ/g, "d").replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y").replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u").replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ.+/g, "o").replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ.+/g, "e").replace(/ì|í|ị|ỉ|ĩ/g, "i");
                $('#meta').val(text_create);
            }).keyup();
        });

        $(document).ready(function () {
            // Khởi tạo CKEditor
            var editor = CKEDITOR.replace("detail", { height: '600px' });

            $('#editMenuForm').submit(function () {
                // Đảm bảo rằng giá trị của CKEditor được gán vào trường 'detail' trước khi submit form
                $("detail").val(editor.getData());
            });
        });
    </script>
}