@model DDEdu.Models.course

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/admin/Views/Shared/_MyLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maxStudent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maxStudent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.currStudent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currStudent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tuition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tuition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datebegin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datebegin)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
