@model DDEdu.Models.typePost
@using DDEdu.Helper
@{
    ViewBag.Title = "Edit News Category";
    Layout = "~/Areas/admin/Views/Shared/_MyLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-red">
            <div class="panel-heading">
                Edit News Category

            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Edit", "typePosts", FormMethod.Post, new { enctype = "multipart/form-data", id = "editMenuForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.id)

                        <div class="form-group">
                            <div class="control-label col-md-2">
                                <b>Name</b>
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.nameType, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nameType, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-2">
                                <b>Link</b>
                            </div>
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.link, new { @class = "form-control", @rows = 1 })
                                @Html.ValidationMessageFor(model => model.link, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-2">
                                <b>Meta</b>
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.meta, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.meta, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-2">
                                <b>Display</b>
                            </div>
                            <div class="col-md-8">
                                @{
                                    bool hide = (Model.hide.GetValueOrDefault(false) ? true : false);
                                }
                                @Html.CheckBoxFor(model => hide, new { @class = "big-checkbox" })
                                @Html.ValidationMessageFor(model => model.hide, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-2">
                                <b>Order</b>
                            </div>
                            <div class="col-md-1">
                                @Html.EditorFor(model => model.order, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.order, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group text-end">
                            <div class="col-md-10" style="text-align:end">
                                @Html.NoEncodeActionLink("<span>BACK</span>", "BACK", "Index", "typePosts", routeValues: new { }, htmlAttributes: new { data_modal = "", @class = "btn btn-default" })
                                <input type="submit" value="SAVE" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section _Footer
{
    <script src="~/Areas/admin/Content/ckfinder/ckfinder.js"></script>
    <script src="~/Areas/admin/Content/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        var editor = CKEDITOR.replace("detail");
        var editor = CKEDITOR.replace("detail", { height: '600px' });
        customConfig: '/Areas/admin/Content/ckeditor/config.js';
    </script>
    <script>
        $(function () {
            $("#nameType").keyup(function () {
                var text = $.trim($(this).val().toLowerCase());
                var text_create;
                text_create = text.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a").replace(/\ /g, '-').replace(/đ/g, "d").replace(/đ/g, "d").replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y").replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u").replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ.+/g, "o").replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ.+/g, "e").replace(/ì|í|ị|ỉ|ĩ/g, "i");
                $('#meta').val(text_create);
            }).keyup();
        });
    </script>
}