@model DDEdu.Models.aboutu
@using DDEdu.Helper
@{
    ViewBag.Title = "Edit Information";
    Layout = "~/Areas/admin/Views/Shared/_MyLayout.cshtml";
}
@section _Header
{
    <!-- DataTables CSS -->
    <link href="/Areas/admin/Content/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
    <!-- DataTables Responsive CSS -->
    <link href="/Areas/admin/Content/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
}
<div class="row ms-auto">
    <div class="col-lg-12">
        <!-- Increased the width to center the panel better -->
        <div class="panel panel-yellow ms-auto">
            <!-- Center align the panel -->
            <div class="panel-heading">
                Edit Information
            </div>
            <div class="panel-body align-contenr-center">
                <form action="" enctype="multipart/form-data" id="editMenuForm" method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <div class="form-group ms-auto">
                            <label class="control-label col-md-3" for="username">Title</label>
                            <div class="col-md-7">
                                @Html.TextAreaFor(model => model.title, new { @class = "form-control text-box single-line", required = "required" })
                                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group ms-auto">
                            <label class="control-label col-md-3" for="username">Description</label>
                            <div class="col-md-7">
                                @Html.TextAreaFor(model => model.desc, new { @class = "form-control text-box single-line", required = "required" })
                                @Html.ValidationMessageFor(model => model.desc, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="Parent_Menu">Choose Display Icon</label>
                            <div class="col-md-7">
                                <select class="form-control" id="icon" name="icon" required>
                                    <option value="">Choose icon</option>
                                    <option value="bi-search" @(Model.icon == "bi-search" ? "selected" : "")>bi-search</option>
                                    <option value="bi-book" @(Model.icon == "bi-book" ? "selected" : "")>bi-book</option>
                                    <option value="bi-bookmark" @(Model.icon == "bi-bookmark" ? "selected" : "")>bi-bookmark</option>
                                    <option value="bi-info" @(Model.icon == "bi-info" ? "selected" : "")>bi-info</option>
                                    <option value="bi-question" @(Model.icon == "bi-question" ? "selected" : "")>bi-question</option>
                                </select>
                                <span class="field-validation-valid text-danger" data-valmsg-for="icon" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-3">
                                <b>Display</b>
                            </div>
                            <div class="col-md-1">
                                @{
                                    bool hide = (Model.hide.GetValueOrDefault(false) ? true : false);
                                }
                                @Html.CheckBoxFor(model => hide, new { @class = "big-checkbox" })
                            </div>
                            <div class="control-label col-md-2">
                                <b>Set as Question</b>
                            </div>
                            <div class="col-md-1">
                                @{
                                    bool isquestion = (Model.isquestion.GetValueOrDefault(false) ? true : false);
                                }
                                @Html.CheckBoxFor(model => isquestion, new { @class = "big-checkbox"})
                            </div>

                            <div class="control-label col-md-1">
                                <b>Order</b>
                            </div>
                            <div class="col-md-1">
                                @Html.EditorFor(model => model.order, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group text-end">
                            <div class="col-md-10" style="text-align:end">
                                @Html.NoEncodeActionLink("<span>BACK</span>", "BACK", "Index", "aboutus", routeValues: new { }, htmlAttributes: new { data_modal = "", @class = "btn btn-default" })
                                <input type="submit" value="SAVE" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section _Footer
{
    <script src="~/Areas/admin/Content/ckfinder/ckfinder.js"></script>
    <script src="~/Areas/admin/Content/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        var editor = CKEDITOR.replace("detail");
        var editor = CKEDITOR.replace("detail", { height: '600px' });
        customConfig: '/Areas/admin/Content/ckeditor/config.js';
    </script>
    <script>
        $(function () {
            $("#nameType").keyup(function () {
                var text = $.trim($(this).val().toLowerCase());
                var text_create;
                text_create = text.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a").replace(/\ /g, '-').replace(/đ/g, "d").replace(/đ/g, "d").replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y").replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u").replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ.+/g, "o").replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ.+/g, "e").replace(/ì|í|ị|ỉ|ĩ/g, "i");
                $('#meta').val(text_create);
            }).keyup();
        });
    </script>
}
