<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin</title>
    <!-- Bootstrap Core CSS -->

    <link href="/Areas/admin/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="/Areas/admin/Content/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/Areas/admin/Content/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="/Areas/admin/Content/vendor/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/Areas/admin/Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style>
    .big-checkbox{
        width: 30px;
        height: 30px;
    
    }

    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        background-color: white !important;
    }
</style>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/admin/default">

                    Management for DDEDu English Center
                </a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="@Url.Action("ProfileInfo","account")"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("Logout","account")"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="@Url.Action("Index","menus") "><i class="fa fa-th-list fa-fw"></i> Manage Menu</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","slides") "><i class="fa fa-picture-o fa-fw"></i> Manage Slide</a>
                        </li>
                        
                        <li>
                            <a href="#"><i class="fa fa-newspaper-o fa-fw"></i> Manage News<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Index","typePosts") "><i class="fa fa-newspaper-o fa-fw"></i> Manage Categories</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","newPosts") "><i class="fa fa-newspaper-o fa-fw"></i> Manage Posts</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="# "><i class="fa fa-book fa-fw"></i> Manage Courses<span class="fa arrow"></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Index","courses") "><i class="fa fa-book fa-fw"></i> Manage Courses PLans</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","usercourses") "><i class="fa fa-book fa-fw"></i> Manage Classes</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","users") "><i class="fa fa-user fa-fw"></i> Manage Users</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","logoes") "><i class="fa fa-inbox fa-fw"></i> Manage Logo</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","contacts") "><i class="fa fa-phone fa-fw"></i> Manage Contact</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","aboutus") "><i class="fa fa-info fa-fw"></i> Manage About</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper" style="align-items:center">
            <br/>

            @RenderBody()
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="/Areas/admin/Content/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/Areas/admin/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/Areas/admin/Content/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="/Areas/admin/Content/vendor/raphael/raphael.min.js"></script>
    <script src="/Areas/admin/Content/vendor/morrisjs/morris.min.js"></script>
    <script src="/Areas/admin/Content/data/morris-data.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/Areas/admin/Content/dist/js/sb-admin-2.js"></script>
    @RenderSection("_Header", false);
    @RenderSection("_Footer", false);
</body>
</html>
